.project-box{
    background-color: #455C6D;
    width: 270px;
    height: 100px;
    border-radius: 10px;
}

.project-box-title{
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-bottom: 0px;
}

.active{
    text-align: center;
    border: 0px;
    margin-left: 10px;
    margin-top: 20px;
    width: 60px;
    border-radius: 50px;
    background-color: #527262;
    color: #62cb8b;
    margin-bottom: 0px;
}

.project-box-text{
    font-size: 15px;
    margin-left: 20px;
    color: #A1A5A7;
}

.arrow{
    margin-left: 200px;
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
    border-radius: 50px;
    background-color: #527262;
    color: #fff;
    border: 0px;
}

.go{
    color: white;
}

a:hover{
    color: white;
    
}


.language{
    color: #fff;
    font-size: 17px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.progress{
    margin-bottom: 5px;
}

.pro-back{
    background-color: #455c6d;
    border-radius: 10px;
    width: 270px;
    height: 100px;
    margin-left: 10px;
}
